.subtotal{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: auto;
    height: 150px;
    padding: 20px;
    background-color: #f3f3f3;
    border: 1px solid #dddddd;
    border-radius: 3px;
}



.SubtotalBtn:hover {
        background: #ffc500;
        transition: 0.2s ease-out;
        cursor:pointer;
        color:#000;
    }
